.filters-container{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 80%;
}

/* Modal */

.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 50vh;
    max-width: 30%;
    outline: none;
    padding: 10px;
}

.btn-guardar{
    margin-top: 10px;
}

@media only screen and (max-width: 600px) {
    .modal {
        background: white;
        border-radius: 5px;
        color: rgb(51, 51, 51);
        display: inline;
        max-height: 50vh;
        max-width: 80vw;
        outline: none;
        padding: 10px;
    } 
  }